.MLMHor{
    direction: ltr;
    text-align: left;
    z-index:1;
}
.MLMHor, .MLMHor ul{
    margin:0;
    padding:0;
    list-style-type:none;
    list-style-position:inside;/*icons inside or outside, since list-style-type:none; removing doesn't mean bother*/
    font-weight: bold;
    position:relative;
    display: inline-block;/*For just IE*/;
    line-height:3em;
    margin: 0 auto;
}
.MLMHor a:link, .MLMHor a:active, .MLMHor a:visited{
    display:block;
    padding:0 1.15em;
    color:#ffffff;
    text-decoration:none;
    background-color:#789E44;
}

.MLMHor>li>a{
    border-right:1px solid #4C6930;
    border-left:none;
}

.MLMHor>li:last-child>a{
    border:none;
}

.MLMHor a:hover{
    background-color:#4C6930;
}
.MLMHor li{
    float:left;
    position:relative;/*No use*/
}

.MLMHor ul {
    position:absolute; /*Make the <li>s appear in front ant of calling elements not under*/
    width:12em;
    top:3em;/*No need - The same value as line height*/
    display:none;
}

.MLMHor li ul a{
    width:12em;
    float:left;/*neccessary - li falls one step down*/
    border-bottom: 0.1em solid #4C6930;
}

.MLMHor ul ul{
    top:auto;/*no use*/
}

.MLMHor li ul ul {
    left:12em;
    margin-left:2.1em;
}

.MLMHor li:hover ul ul, .MLMHor li:hover ul ul ul, .MLMHor li:hover ul ul ul ul{
    display:none;
}
.MLMHor li:hover ul, .MLMHor li li:hover ul, .MLMHor li li li:hover ul, .MLMHor li li li li:hover ul{
    display:block;
}
.MLMHor a.current
{
    background-color: white;
    color:black;
}

.bgDown{
    background-image: url(Down.png);
    background-repeat:no-repeat;
    background-position: 91% 57%;
}
.bgSide{
    background-image: url(Right.png);
    background-repeat:no-repeat;
    background-position: 91% 57%;
}
/*footer*/
.MLMHorFooter{
    direction: ltr;
    text-align: left;
    z-index:1;
}
.MLMHorFooter{
    margin:0;
    padding:0;
    list-style-type:none;
    list-style-position:inside;/*icons inside or outside, since list-style-type:none; removing doesn't mean bother*/
    font-weight: bold;
    position:relative;
    display: inline-block;/*For just IE*/;
    margin: 0 auto;
}
.MLMHorFooter li{
    float: left;
    margin-left: 10px;
}
.MLMHorFooter a:link, .MLMHorFooter a:active, .MLMHorFooter a:visited{
    display:block;
    color:#ffffff;
    text-decoration:none;
}